@page "/roles"

<h1>Roles</h1>
<RolesTable RolesData="roles">
</RolesTable>

@code {
    private Models.Role[] roles;

    [Inject]
    private HttpClient httpClient { get; set; }
    protected override async Task OnInitializedAsync()
    {
        roles = await httpClient.GetFromJsonAsync<Models.Role[]>("sample-data/roles.json");
    }
}
